






































































main {


}


.feed-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.feed-card  {

   
    background-color:white ;
    
    border-radius:  2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 3rem;
    padding-bottom: 15rem;
   
   

    
}


.photo-profil-1 {

    width: 5%;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
}

.feed-card-header2{
   margin-left: 1em;
   
   
}

.feed-card-header2 > p {


}

.feed-card-header2 > h1 {

    
}

.conteneur-buttons {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}